*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font: monospace;
}
.side-bar{
    
    width: 20%;
    height: 100 vh;
    background-color:black ;
    color: antiquewhite;
    padding: 30px;
    margin-top: 5vh;
    border-radius: 10px;

   
}
#todo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.main{
    display:flex;
    gap: 5vw;
    margin: 0;
    padding: 0;
}
#new-component{
    display: flex;
    flex-direction: column;
    gap: 2vh;
   
    color: rgb(0, 0, 0);
    width: 70vw;
    height: 100vh;
}
                   
.button-sidebar{
    background: none;
    border: none;
    padding: 1vw;
    cursor: pointer;
   color: aliceblue;
   font-weight: bold;
  text-transform: uppercase;
}

  

.input-section{
    width:50%;
    display:flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 1vh;
    margin: 1vh;

}
.button{
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 4px;
    background-color: rgb(11, 11, 11);
  color: rgb(255, 249, 249);
  border: 2px solid #000604; 
  transition-duration: 0.4s;
  width: fit-content;
  margin: 5px;
  text-transform:  uppercase;
  text-shadow: 2px 2px 8px #f3ecec;
  text-align: center; 

}
.confrm-btn{
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 4px;
    background-color: #000000;
  color: rgb(255, 249, 249);
  border: 2px solid #000604; 
  transition-duration: 0.4s;
  width: 120px;
  margin: 5px;
  text-transform:  uppercase;
  text-align: center;
  text-shadow: 2px 2px 8px #f3ecec;
}
.button:hover{
    background-color: #2f3030;/* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.confrm-btn:hover{
    background-color: #747876; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.cancel-btn{
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 4px;
    background-color: rgb(11, 11, 11);
    color: rgb(255, 249, 249);
  border: 2px solid #080706; 
  transition-duration: 0.4s;
  width: 120px;
  text-transform:  uppercase;
  margin: 5px;
  text-align: center;
  text-shadow: 2px 2px 8px #f3ecec;
}
.cancel-btn:hover{
    background-color: #747876; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.clear-btn{
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 4px;
    background-color: rgb(11, 11, 11);
    color: rgb(255, 249, 249);
  border: 2px solid #080706; 
  transition-duration: 0.4s;
  width: 200px;
  text-transform:  uppercase;
  margin: 5px;
  text-align: center; margin: auto;
  text-shadow: 2px 2px 8px #f3ecec
}
.clear-btn:hover{
    background-color: #d93c03; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
label{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #999797
}
h2{
    text-shadow: 2px 2px 8px #999797
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
input{
    text-transform: uppercase;
    height: 40px;
    width: 50vw;
}
li{
    font-size:x-large;
    text-decoration: dotted;
    list-style-type:decimal;
}
.cross-btn{
    width:5px;
    
    border: none;
    background-color: rgb(246, 241, 241);
    color: rgb(17, 16, 16);
  
  transition-duration: 0.4s;
  font-size: large;
  text-transform:  uppercase;
  margin: 10px;
 
  text-shadow: 2px 2px 8px #3a3939
}
.cross-btn:hover{
    color: #f04405;
}

